a {
  text-decoration: none;
}

body {
  background-image: url("/images/steambanner2.png");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  background-color: grey;
  background: rgb(54, 25, 25);
  background: rgba(54, 50, 50, .7);
}

h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3{
  color: white;
  text-align: center;
  font-size: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /*font-family: 'Permanent Marker', cursive;*/
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  color: white;
  font-size: 1.3em;
  font-family: 'Varela', sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}
footer {
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
  background-color: white;
}

form {
  font-size: 1em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Varela', sans-serif;
}

label {
  color: white;
}

li {
  font-family: 'Varela', sans-serif;
  padding-bottom: 15px;
  font-weight: bold;
}

h3 a{
  color: red;
}
