a {
  text-decoration: none;
}

body {
  background-color: #292E37;
}

h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

p {
  color: white;
  font-size: 1.3em;
  font-family: 'Varela', sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
}
footer {
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
  background-color: white;
}

form {
  font-size: 1em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Varela', sans-serif;
}

label {
  color: white;
}

li {
  font-family: 'Varela', sans-serif;
  padding-bottom: 15px;
  font-weight: bold;
}
