#main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  font-size: 3em;
}

#main-nav:hover ul {
  display: block;
}

#submit{
  border: 4px;
  border-radius: 30px;
  font-size: 1em;
}

#results-list{
  color: white;
  list-style: none;
  font-size: 1.3em;

}
