@media only screen and (min-width : 414px) and (max-width : 736px) and (orientation : landscape) {
  #banner-title {
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    left: 0;
    position:absolute;
    text-align:center;
    top: 50%;
    width: 100%
  }

  form {
    font-size: 1em;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Varela', sans-serif;
  }

  h2 {
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 25px 0 0;
  }
}

@media only screen and (min-width: 740px){

  form {
    font-size: 2em;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Varela', sans-serif;
  }

  #submit {
    padding:9px 24px;
    vertical-align: bottom;
  }

  .game li {
    color: white;
    font-size: 1.3em;
    font-family: 'Varela', sans-serif;
    padding-bottom: 15px;
    padding-left: 15px;
    font-weight: bold;
    list-style: none;

  }

   #banner {
     margin: 0 auto;
     position: relative;
     width: 80%;
   }

   #banner-title {
     font-size: 3.3em;
     text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
     left: 0;
     position:absolute;
     text-align:center;
     top: 55%;
     width: 100%;
   }

   #results-header {
     width: 92%;
     margin: 0 auto;
     font-size: 2.2em;
   }

   #main-nav ul {
     display: inline-block;
     margin-top: 20px;

   }

   #nav-list li {
    height: 30px;
    padding: 0 20px;
   }

   #nav-list li:last-child {
    border-right: none;
   }

   #nav-list li a {
    text-decoration: none;
    color: #ccc;
    font: 20px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
   }

   #nav-list li a:hover {
    color: #666;
   }

   #nav-list li.active a {
    font-weight: bold;
    color: #333;
   }

   h2 {
     font-size: 45px;
   }

   #home-page {
    width:500px;
    height:500px;*/
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
   }

   #sup-steam{
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     font-size: 8em;
   }
}
